@use "sass:map";
@use "../base/variables" as *;

.auth-box {
  width: 100%;

  .auth-title {
    font-size: map.get($text, xl);
    margin-bottom: 40px;
  }

  .auth-link {
    .link {
      font-weight: 500;
      color: map.get($color, black);
    }
  }
}
