@use "sass:map";
@use "../base/variables" as *;

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;

  .form-group {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;

    .form-input {
      padding: 8px;
      border-radius: 6px;
      border: 1px solid rgba(161, 163, 171, 1);
    }

    .form-error {
      position: absolute;
      bottom: -18px;
      font-size: map.get($text, xxs);
      color: map.get($color, red);
    }
  }
}
