@use "sass:map";
@use "../base/variables" as *;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 6px;

  &.btn-primary {
    color: map.get($color, white);
    background-color: map.get($color, primary);
  }
}
