$color: (
  primary: #ff6767,
  secondary: #f8f8f8,
  white: #ffffff,
  white-secondary: #F5F8FF,
  black: #000000,
  black-secondary: #1a1a1a,
  grey: #888888,
  text: #747474,
  input: #a1a3ab,
  modal: #f9f9f9,
  green: #05a301,
  blue: #0225ff,
  blue-light: #3abeff,
  red: #f21e1e,
);

$text: (
  2xl: 36px,
  xl: 32px,
  lg: 24px,
  base: 16px,
  sm: 14px,
  xs: 12px,
  xxs: 10px,
);
