@use "sass:map";
@use "../base/variables" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 72px;
  background: map.get($color, secondary);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.07);

  &-title {
    font-size: map.get($text, xl);
    font-weight: 600;
    color: map.get($color, primary);
  }

  &-subtitle {
    color: map.get($color, black);
  }

  &-date {
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: map.get($text, sm);
    gap: 1px;
  }

  &-day {
    color: map.get($color, black);
  }

  &-fulldate {
    color: map.get($color, blue-light);
  }
}
